.navbar-brand{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:2.2em;
    color:red;

}
#nav-linkid{
    margin-left:90px;
    
}

.nav-link{

    margin-left: 15px;
}

.first-form{
    margin-left:90px;

}

.sub-btnn{
width:100px;
background-color: rgb(97, 194, 189);
color:white;
box-shadow:10px 20px 50px rgb(195, 217, 216);
padding: 12px 5px 12px 5px ;
border:none;
} 
.sub-btn:hover{
    box-shadow:30px 20px 50px rgb(195, 217, 216);
}

.customer{
    margin-left:45px;
}

.link{ 
    color:white;
    background-image: linear-gradient(to right, #06beb6 0%, #48b1bf 51%, #06beb6 100%); 
   padding:20px;
   border-radius:90px;
   margin-left:10px;
   display:inline-block;
   margin-top:10px;
 } 



.link:hover { background-position: right center; }


h4{
    background-color:;
}

h1{text-transform: capitalize;}
